<% content_for :breadcrumbs do %>
  <a href="/">Главная страница</a>

  <span class="black">→</span>
  <a href="/edu">Наши специальности</a>

  <span class="black">→</span>
  <% if speciality.gos2? %>
    <%= link_to "ГОС-2", edu_gos_path(:gos_generation => 2) %>
  <% else %>
    <%= link_to "ФГОС-3", edu_gos_path(:gos_generation => 3) %>
  <% end %>

  <span class="black">→</span>
  <%= link_to "#{speciality.code} #{speciality.title} (#{subspeciality.title})", edu_subspeciality_path(subspeciality) %>
<% end %>
<h1><%= speciality.degree %> <%= "#{speciality.code} #{speciality.title} (#{subspeciality.title})" %></h1>

<%= link_to("скачать", work_plan_api_url(subspeciality.work_plan), :class => :download_work_plan_pdf) if subspeciality.work_plan %>

<h2><%= subspeciality.graduated_subdepartment %> <%= speciality.year %> <%= subspeciality.education_form %></h2>
<table class='curriculum_table'>
  <thead>
    <tr>
      <% subspeciality.headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
    <% i = 0 %>
    <% subspeciality.cycles_with_disciplines.each do |cycle, disciplines| %>
      <tr class='cycle'>
        <td colspan='<%= subspeciality.columns_count %>' class='cycle'>
          <%= cycle %>
        </td>
      </tr>
      <% disciplines.each do |discipline| %>
        <tr class='discipline'>
          <td>
            <%= i += 1 %>
          </td>
          <td class='discipline_name'>
            <%= discipline.title %>
          </td>
          <td>
            <%= discipline.exam_semesters %>
          </td>
          <td>
            <%= discipline.end_of_term_semesters %>
          </td>
          <td>
            <%= discipline.end_of_course_semesters %>
          </td>
          <% subspeciality.semesters.each do |semester| %>
            <td>
              <%= '+' if discipline.loadings_in_semester?(semester) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </thead>
</table>
