<% content_for :head_title, subspeciality.full_title %>

<% content_for :breadcrumbs do %>
  <a href="/">Главная страница</a>

  <span class="black">→</span>
  <a href="/edu">Наши специальности</a>

  <span class="black">→</span>
  <% if speciality.gos2? %>
    <%= link_to "ГОС-2", edu_gos_path(:gos_generation => 2) %>
  <% else %>
    <%= link_to "ФГОС-3", edu_gos_path(:gos_generation => 3) %>
  <% end %>

  <span class="black">→</span>
  <%= link_to "#{speciality.code} #{speciality.title} (#{subspeciality.title})", edu_subspeciality_path(subspeciality) %>
<% end %>

<h1><%= speciality.code %> <%= speciality.title %></h1>

<%= link_to("скачать РУП", work_plan_api_url(subspeciality.work_plan), :class => :download_work_plan_pdf) if subspeciality.work_plan %>
<%= link_to("скачать ООП", programm_api_url(subspeciality.programm), class: :download_work_plan_pdf) if subspeciality.programm %>

<h2><%= subspeciality.degree %></h2>
<h2><%= subspeciality.title %></h2>
<h2><%= subspeciality.title_with_edu_form_and_year %></h2>
<table class='curriculum_table'>
  <thead>
    <tr>
      <% subspeciality.headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
    <% i = 0 %>
    <% subspeciality.cycles_with_disciplines.each do |cycle, disciplines| %>
      <tr class='cycle'>
        <td colspan='<%= subspeciality.columns_count %>' class='cycle'>
          <%= cycle %>
        </td>
      </tr>
      <% disciplines.each do |discipline| %>
        <tr class='discipline'>
          <td class='discipline_name'>
            <%= i += 1 %>
          </td>
          <td class='discipline_name'>
            <%= discipline.cycle_id %>
          </td>
          <td class='discipline_name'>
            <%= link_to discipline.title, [:edu, subspeciality, discipline] %>
          </td>
          <td>
            <%= discipline.subdepartment.abbr %>
          </td>
          <td>
            <%= discipline.exam_semesters %>
          </td>
          <td>
            <%= discipline.end_of_term_semesters %>
          </td>
          <td>
            <%= discipline.end_of_course_semesters %>
          </td>
          <% subspeciality.actual_semesters.each do |semester| %>
            <td>
              <%= '+' if discipline.loadings_in_semester?(semester) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </thead>
</table>
