<% number = 0 %>
<% subspecialities.group_by(&:degree_value).each do |degree, subspecialities| %>
  <tr class='cycle'><td colspan='5'><%= Speciality.degree.find_value(degree).text %></td></tr>
  <% subspecialities.group_by(&:speciality_code_with_title).each do |speciality, subspecialities| %>
    <tr>
      <td rowspan='<%= subspecialities.size %>'><%= number += 1 %></td>
      <td rowspan='<%= subspecialities.size %>'><%= speciality[:code] %></td>
      <td rowspan='<%= subspecialities.size %>'><%= speciality[:title] %></td>
      <% subspeciality = subspecialities.shift %>
      <td>
        <%= subspeciality.link_to_show(subspeciality.title_with_edu_form_and_year) %>
        <%= subspeciality.linked_title %>
      </td>
      <td><%= subspeciality.subdepartment %></td>
    </tr>
    <% subspecialities.each do |subspeciality| %>
      <tr>
        <td>
          <%= subspeciality.link_to_show(subspeciality.title_with_edu_form_and_year) %>
          <%= subspeciality.linked_title %>
        </td>
        <td><%= subspeciality.subdepartment %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
