<% number = 0 %>
<% p subspecialities.group_by(&:degree_value) %>
<% subspecialities.group_by(&:degree_value).each do |degree, subspecialities| %>
  <tr class='cycle'><td colspan='8'><%= Speciality.degree.find_value(degree).text %></td></tr>
  <% subspecialities.each do |subspeciality| %>
    <tr>
      <td><%= number += 1 %></td>
      <td><%= subspeciality.speciality.code %></td>
      <td><%= subspeciality.speciality.title %></td>
      <td><%= subspeciality.title %></td>
      <td><%= subspeciality.subdepartment %></td>
      <td><%= subspeciality.education_form %><%= subspeciality.reduced %></td>
      <td><%= link_to "смотреть", [:edu, subspeciality] if subspeciality.has_disciplines? %></td>
      <td><%= link_to "скачать", work_plan_api_url(subspeciality.work_plan) if subspeciality.work_plan %></td>
    </tr>
  <% end %>
<% end %>
