<% content_for :head_title do %>
  <% if params[:gos_generation] == '2' %>
    Cписок специальностей ГОС-2
  <% else %>
    Cписок специальностей ФГОС-3
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <a href="/">Главная страница</a>
  <span class="black">→</span>
  <a href="/edu">Наши специальности</a>
  <span class="black">→</span>

  <% if params[:gos_generation] == '2' %>
    <%= link_to "ГОС-2", edu_gos_path(:gos_generation => 2) %>
  <% else %>
    <%= link_to "ФГОС-3", edu_gos_path(:gos_generation => 3) %>
  <% end %>
<% end %>

<% if params[:gos_generation] == '2' %>
  <h1>Cписок специальностей ГОС-2</h1>
<% else %>
  <h1>Cписок специальностей ФГОС-3</h1>
<% end %>

<% subspecialities.group_by(&:year_number).sort.each do |year, subspecialities| %>
  <h2><%= year %></h2>
  <table class='curriculum_table specialities'>
    <%= render :partial => 'table_header' %>
    <%= render :partial => 'subspecialities', :object =>  subspecialities %>
  </table>
<% end %>
