<table>
  <thead>
    <tr>
      <th width='200px'>Дисциплина</th>
      <th width='100px'>Кол-во часов</th>
      <th>Форма учёта</th>
      <th>Фамилия преподавателя</th>
      <th>Совместно с группами</th>
      <th>Кафедра</th>
    </tr>
  </thead>
  <tbody>
    <% disciplines.select{|d| (d.loadings.map(&:semester_id) + d.checks.map(&:semester_id)).include?(semester.id)}.each do |discipline| %>
      <tr>
        <td class='discipline' colspan='2'><%= discipline %></td>
        <td colspan='3'>
          <%= safe_join(discipline.checks_in_semester(semester).map(&:kind_report_text), "<br/>\n".html_safe) %>
        </td>
        <td><%= discipline.subdepartment.abbr %></td>
      </tr>
      <% discipline.classroom_loadings_in_semester(semester).each do |loading| %>
        <tr>
          <td class='loading_kind'><%= loading.abbr_kind.text %></td>
          <td><%= loading.value %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Всего</th>
      <th>Лекции</th>
      <th>Лаб. раб.</th>
      <th>Практики</th>
      <th>Курс. раб. / Курс. пр.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= semester.loadings.actual.where(kind: Loading::CLASSROOM_KINDS).sum(:value) %></td>
      <td><%= semester.loadings.actual.where(kind: :lecture).sum(:value) %></td>
      <td><%= semester.loadings.actual.where(kind: :lab).sum(:value) %></td>
      <td><%= semester.loadings.actual.where(kind: :practice).sum(:value) %></td>
      <td><%= semester.loadings.actual.where(kind: :csr).sum(:value) %></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Зачетов: <%= semester.checks.actual.where(kind: :exam).count  %></th>
      <th>Экзаменов: <%= semester.checks.actual.where(kind: :end_of_term).count  %></th>
    </tr>
  </thead>
</table>
