<h1><%= subspeciality.full_title %></h1>
<%= content_tag :h2, subspeciality.reduced_text if subspeciality.model.reduced? %>
<h3>Кафедра: <%= subspeciality.subdepartment %></h3>
<ul>
  <% subspeciality.semesters.each do |semester| %>
    <li>
      <h3><%= semester %></h3>
      <div class="collapsed_item">
        <%= render :partial => "#{subspeciality.source.education_form}_table", locals: {semester: semester} %>
      </div>
    </li>
  <% end %>
</ul>
