  <%= form.input :description %>
  <div class='add_file_wrapper'>
    <% if form.object.vfs_path? %>
      <%= link_to "Скачать файл (#{form.object.vfs_path.match(/([^\/.]+)(\.(.{3}))?$/)})", form.object.vfs_path, :class => 'link' %>
      <%= link_to "Удалить", '#', :class => 'link remove_file' %>
    <% else %>
      <%= link_to 'Выбрать файл', '#', :class => 'choose_file' %>
    <% end %>

    <%= form.input :vfs_path, :as => :hidden, :input_html => {:params => "vfs_path=/plans/#{@year.number}/#{t(@speciality.degree)}/#{@speciality.code}/#{@subspeciality.subdepartment.abbr}/#{@subspeciality.title}/ООП"}  %>
  </div>
  <%= form.submit :class => 'submit' %>
  <%= link_to "Отмена", resource_path, :remote => true if resource.persisted? %>

