<td colspan="2">
  <%= simple_form_for [association_chain, resource].flatten, :remote => true do |f| %>
    <div class="inputs">
      <%= f.input :title %>
      <%= f.input :volume %>
      <%= f.input :description %>
      <%= f.input :semester_id, :as => :hidden %>
    </div>

    <%= f.submit %>
    или
    <% if resource.new_record? %>
      <%= link_to 'Отмена', association_chain, :class => 'new_lecture_cancel' %>
    <% else %>
      <%= link_to 'Отмена',
        [association_chain, resource].flatten,
        :remote => true,
        :class => 'edit_lecture_cancel' %>
    <% end %>
  <% end %>
</td>
