<div class="lecture">
  <div class="description">
    <p><%= lecture.title %></p>
    <p><%= lecture.description %></p>
  </div>

  <div class="volume">
    <p><%= lecture.volume %></p>
  </div>

  <%= link_to 'Редактировать',
    [:edit, @year, @speciality, @subspeciality, @discipline, @work_programm, lecture],
    :remote => true,
    :class => 'edit_lecture' %>

  <%= link_to 'Удалить',
    [@year, @speciality, @subspeciality, @discipline, @work_programm, lecture],
    :confirm => t('are_you_sure?'),
    :method => :delete,
    :remote => true,
    :class => 'delete_lecture' %>
</div>
