<table class="lectures">
  <thead>
    <tr>
      <th class="title">Наименование темы и содержание</th>
      <th class="volume">Объем в часах</th>
    </tr>
  </thead>

  <tbody>
    <% parent.loaded_semesters.each do |semester| %>
      <tr>
        <td colspan="2" class="semester"><%= semester %></td>
       </tr>

       <%= render [*parent.lectures_grouped_by_semester[semester]] %>

       <tr>
         <td>
           <%= link_to 'добавить',
             new_polymorphic_path([@year, @speciality, @subspeciality, @discipline, @work_programm, :lecture].flatten, 'lecture[semester_id]' => semester.id),
             :class => 'add_lecture',
             'data-number' => semester.number,
             :remote => true %>

           <span>Всего часов</span>
         </td>
         <td><%= "#{semester.planning_lecture_loading_for_discipline(parent.discipline)}/#{semester.real_lecture_loading}" %></td>
       </tr>

       <tr class="<%= "semester_#{semester.number}_form_wrapper" %>"></tr>
     <% end %>
   </tbody>
 </table>

