<table class='self_education_items'>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Наименование работы</th>
      <th><%= SelfEducationItem.human_attribute_name :hours  %></th>
      <th><%= SelfEducationItem.human_attribute_name :control  %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% SelfEducationItem::ALL_KINDS.each_with_index do |kind, index| %>
      <% scope = resource.self_education_items.kind(kind).semester_id(semester) %>
      <% item = scope.first || scope.build %>
      <tr class='<%= cycle("even", "odd") %>'>
        <td><%= index + 1 %>.</td>
        <td class="left title">
          <%= SelfEducationItem.human_attribute_name(kind) %>
          <br/>
          <% if item.appendix %>
            <%= item.appendix %>
            <ul>
              <% item.appendix.appendix_items.each do |appendix_item| %>
                <li><%= appendix_item.description %></li>
              <% end %>
            </ul>
            <%= link_to 'править приложение', [:edit, @year, @speciality, @subspeciality, @discipline, @work_programm, item, :appendix] %>
            <%= link_to 'удалить приложение', [@year, @speciality, @subspeciality, @discipline, @work_programm, item, :appendix], :confirm => t('are_you_sure?'), :method => :delete %>
          <% else %>
            <%= link_to '+ приложение', [:new, @year, @speciality, @subspeciality, @discipline, @work_programm, item, :appendix] if item.persisted? %>
          <% end %>
        </td>
        <% if resource.has_loadings_for?(kind) %>
          <td class='hours'><%= item.hours %></td>
          <td><%= SelfEducationItem.human_enum_values(:control).values_at(*item.control).join(', ') %></td>
          <% if item.new_record? %>
            <td><%= link_to "добавить", polymorphic_url([:new, association_chain, resource, :self_education_item].flatten, :kind => kind, :semester_id => item.semester_id) %></td>
          <% else %>
            <td><%= link_to "изменить", [:edit, association_chain, resource, item].flatten %></td>
          <% end %>
        <% else %>
          <td class='right warnings' colspan='3'>Не предусмотрено учебным планом</td>
        <% end %>
      </tr>
    <% end %>
    <tr class='total_hours'>
      <% sum = resource.self_education_items.semester_id(semester).map(&:hours).map(&:to_i).sum %>
      <td colspan='5' class='right <%= 'warning' if sum != loadings.first.value %>'>
        Всего часов добавленных занятий: <span><%= sum %></span>
      </td>
    </tr>
    <tr class='rup_hours'>
      <td colspan='5' class='right'>Необходимо часов по РУП: <span><%= loadings.first.value %></span></td>
    </tr>
  </tbody>
</table>
