<div class='split_table'>
  <table class='self_education_items'>
    <tbody>
      <tr>
        <td class='number'>№</td>
        <td class="left title">Наименование работы</td>
        <td class='description'>Форма контроля</td>
        <th style='width: 60px; padding: 0;'>Объем, часов</th>
      </tr>
    </tbody>
  </table>
</div>

<% resource.self_education_items.semester_id(semester).each_with_index do |item, index| %>
  <div class='split_table'>
    <table class='self_education_items'>
      <tbody>
        <tr>
          <td class='number'><%= index + 1 %></td>
          <td class='left title'>
            <div>
              <div><%= t "activerecord.attributes.self_education_item.#{item.kind}" %></div>
              <%= content_tag :em, item.appendix if item.appendix.present? %>
            </div>
          </td>
          <td class='description'><%= item.human_control.join(', ') if item.human_control.present?  %></td>
          <td class='hours'> <%= item.hours %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>

<div class='split_table'>
  <table class='self_education_items'>
    <tbody>
      <tr>
        <td>Всего часов самостоятельной работы в <%= semester.number %> семестре</td>
        <td class='hours'><%= title_page.scheduling.send(:srs).hours[semester.number] %></td>
      </tr>
    </tbody>
  </table>
</div>
