
<h2>
  <%= @speciality.code %>
  <%= @speciality.title %><br/>
</h2>

<h3><%= t "#{@speciality.degree}_prepare" %></h3>
<h4><%= @subspeciality.title %></h4>
<h4>Профилирующая кафедра <%= @subspeciality.subdepartment.abbr %><br/></h4>
<h4>Год набора <%= @year.number %></h4>
