<h1>Добавление рабочей программы дисциплины &quot;<%= @discipline.title %>&quot;</h1>

<%= render :partial => 'head' %>

<%= simple_form_for [@year, @speciality, @subspeciality, @discipline, @work_programm] do | f | %>
  <%= f.input :year %>
  <%= f.submit 'Добавить' %>
<% end %>
