<h1>Рабочая программа дисциплины  &quot;<%= @discipline.title %>&quot; <%= @work_programm.year %> года</h1>

<%= render :partial => 'head' %>

<%= link_to "Скачать PDF рабочей программы", resource_path(:format => :pdf) %>

<h3 class='center'>1. Цели и задачи дисциплины, ее место в учебном процессе</h3>

<div class='work_programm_wrapper with_text_styles'>
  <h4 class='center'>1.1 Цели</h4>
  <div class="work_programm_purpose">
    <%= simple_format @work_programm.purpose %>
  </div>
  <% if @work_programm.purpose? %>
    <%= link_to "Редактировать цели", '#', :class => 'add_text purpose' %>
  <% else %>
    <%= link_to "Добавить цели", '#', :class => 'add_text purpose' %>
  <% end %>
</div>

<div class='work_programm_wrapper with_text_styles missions_wrapper'>
  <h4 class='center'>1.2 Задачи</h4>
  <div class="work_programm_task">
    <ol class='mission_list'>
      <% @work_programm.missions.each do |mission| %>
        <%= render mission %>
      <% end %>
    </ol>
    <%= link_to "Добавить задачу", new_year_speciality_subspeciality_discipline_work_programm_mission_path(@year, @speciality, @subspeciality, @discipline, @work_programm), :remote => true, :class => 'new' %>
  </div>
  <div class="work_programm_requirements">
    <h5>По окончанию изучения дисциплины «<%= @discipline %>» студент обязан:</h5>
    <ul class='requirement_list'>
      <% @work_programm.requirements.each do |requirement| %>
        <%= render requirement %>
      <% end %>
    </ul>
  </div>
</div>

<h4 class="center">1.3 Место дисциплины в учебном процессе</h4>
<% %w[previous_disciplines current_disciplines subsequent_disciplines].each_with_index do |name, index| %>
  <div class="discipline_wrapper">
    <h5>1.3.<%= index + 1 %> <%= WorkProgramm.human_attribute_name(name) %></h5>
    <ul>
      <% @work_programm.send(name).each do |discipline| %>
        <li>
          <%= discipline.title %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= link_to "Изменить список связанных дисциплин", edit_resource_path, :class => 'add_discipline' %>

<h4 class='center'>2. Содержание дисциплины</h4>

<% index = 1 %>
<% Exercise.enum_values(:kind).each do |kind| %>
  <h5 class='center'>2.<%= index %> <%= Exercise.human_attribute_name kind.pluralize %></h5>
  <% index += 1 %>
  <%= content_tag :p, 'Занятия не предусмотрены учебным планом' unless resource.has_loadings_for?(kind)  %>
  <% resource.grouped_loadings(kind).each do |semester, loadings| %>
    <%= render :file => 'exercises/index', :locals => { :semester => semester, :kind => kind, :loadings => loadings } %>
  <% end %>
<% end %>

<h5 class='center'>2.5 <%= Exercise.human_attribute_name :srs %></h5>
<%= content_tag :p, 'Не предусмотрено учебным планом' unless resource.has_loadings_for?(:srs) %>
<% resource.grouped_loadings(:srs).each do |semester, loadings| %>
  <%= render :file => 'self_education_items/index', :locals => { :semester => semester, :loadings => loadings  } %>
<% end %>

<h4 class="center">3. Учебно-методические материалы по дисциплине</h4>
<h5 class='center'>3.1 Основная литература</h5>

<%= render :file => 'publications/index', :locals => { :kind => 'basic' } %>

<h5 class='center'>3.2 Дополнительная литература</h5>

<%= render :file => 'publications/index', :locals => { :kind => 'additional' } %>

<h5 class='center'>3.3 Перечень учебно-методических пособий (УМП) </h5>

<% resource.ump_publication_kinds.each_with_index do |kind, index| %>
  <h6>3.3.<%= index + 1 %> <%= t("activerecord.attributes.publication.publication_kind_enum.ump_#{kind}") %></h6>
  <%= render :file => 'publications/index', :locals => { :kind => "ump_#{kind}" } %>
<% end %>

<h4 class='center'>4. Рейтинговая система оценки качества</h4>
<h5 class="center">4.1 Балльная раскладка отдельных элементов контроля по видам занятий</h5>

<% @discipline.semesters.each_with_index do |semester, index| %>
  <h5 class='center'>4.1.<%= index+1 %> Балльная раскладка для <%= "#{semester.number} семестра" %></h5>
  <%= render :file => 'rating_items/index', :locals => { :semester => semester } %>
<% end %>

<h5 class="center">4.2 Методика формирования пятибальных оценок в контрольные точки</h5>
<p>Оценка в контрольные точки выставляется в соответствии с объемом работы, выполненной студентом к моменту контрольной точки. Для каждого студента рассчитывается процент  набранных им рейтинговых баллов относительно предложенных к данному моменту баллов.</p>
<table class='exercises'>
  <thead>
    <tr>
      <th rowspan=2>Оценка</th>
      <th colspan=2>Процент выполнения работы</th>
    </tr>
    <tr>
      <th>1 контрольная точка</th>
      <th>2 контрольная точка</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>отлично</td>
      <td>80%</td>
      <td>85%</td>
    </tr>
    <tr>
      <td>хорошо</td>
      <td>65%</td>
      <td>70%</td>
    </tr>
    <tr>
      <td>удовлетворительно</td>
      <td>50%</td>
      <td>55%</td>
    </tr>
    <tr>
      <td>неудовлетворительно</td>
      <td>менее 50%</td>
      <td>менее 55%</td>
    </tr>
  </tbody>
</table>

<h5 class="center">4.3 Методика формирования итоговой оценки по дисциплине</h5>
<p>Студент, успешно работавший в семестре, может получить экзаменационную оценку автоматически при условии, что он выполнил все индивидуальные задания и защитил отчеты перед преподавателем.</p>
<table class='exercises'>
  <thead>
    <tr>
      <th>Оценка</th>
      <th>Процент выполненной работы</th>
      <th>Оценка (ECTS)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 (отлично) (зачтено)</td>
      <td>от 90%</td>
      <td>А (отлично)</td>
    </tr>
    <tr>
      <td rowspan=3>4 (хорошо) (зачтено)</td>
      <td>85%-89%</td>
      <td>B (очень хорошо)</td>
    </tr>
    <tr>
      <td>75%-84%</td>
      <td>С (хорошо)</td>
    <tr>
      <td>70%-74%</td>
      <td rowspan=2>D (удовлетворительно)</td>
    </tr>
    <tr>
      <td rowspan=2>3 (удовлетворительно) (зачтено)</td>
      <td>65%-69%</td>
    </tr>
    <tr>
      <td>60%-64%</td>
      <td>E (посредственно)</td>
    </tr>
    <tr>
      <td>2 (неудовлетворительно) (не зачтено)</td>
      <td>менее 60%</td>
      <td>F (неудовлетворительно)</td>
    </tr>
  </tbody>
</table
<p>Студент, не получивший экзаменационной оценки по рейтингу, имеет право, выполнив все индивидуальные задания и отчитавшись перед преподавателем, прийти на экзамен и сдать его в традиционной форме на оценку Государственного образовательного стандарта.</p>
