<h1><%= t("#{action_name}_#{resource_class.name.underscore}") %></h1>

<%= simple_form_for resource do |f| %>
  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :speciality_code %>
  <%= f.input :approved_on, :as => :date, :start_year => 2000, :end_year => Date.today.year %>
  <%= f.submit %>
  или
  <%= link_to 'Отмена', smart_resource_url %>
<% end %>

