<h3>Приложение для &quot;<%= parent.title %>&quot;</h3>

<%= simple_nested_form_for resource, :url => association_chain + [resource.class.name.underscore] do |f| %>
  <%= f.input :title %>

  <%= f.fields_for :appendix_items do |item_form| %>
    <%= item_form.input :description %>
    <%= item_form.link_to_remove 'удалить' %>
  <% end %>

  <%= f.link_to_add '+ элемент', :appendix_items %>

  <div class="buttons">
    <%= f.submit %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>

