<%= javascript_include_tag 'jquery_nested_form' %>

<%= simple_nested_form_for resource, :url => year_speciality_subspeciality_discipline_work_programm_exercise_appendix_path(@year, @speciality, @subspeciality, @discipline, @work_programm, @appendixable) do |f| %>
  <%= f.input :title %>

  <%= f.fields_for :appendix_items do |item_form| %>
    <%= item_form.input :description %>
    <%= item_form.link_to_remove 'удалить' %>
  <% end %>

  <%= f.link_to_add '+ элемент', :appendix_items %>

  <div class="buttons">
    <%= f.submit %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>

