<%= link_to "назад", [:edit, association_chain, :self_education].flatten %>
<%= simple_form_for association_chain + [collection.build] do |form|%>
  <%= form.input :title %>
  <%= form.input :kind, :as => :hidden %>
  <%= form.submit 'Сохранить' %>
<% end %>

<hr>

<h3>Темы</h3>
<%= content_tag :ol do %>
  <%= render collection %>
<% end if collection.any? %>
