<% if (transitions = resource.state_transitions.select{|t| can?(t.event, resource)}).any? %>
  <% transitions.each do |transition| %>
    <li>
      <%= link_to t(".#{transition.to}"), '#', :class => "dialog_#{transition.to}" %>

      <div id='<%= "dialog_#{transition.to}" %>'>
        <%= simple_form_for resource, :url => [transition.event, :manage, association_chain, resource].flatten do |f| %>
          <%= f.input :message_text, :as => :text %>
          <div class='buttons'>
            <%= f.submit t(".#{transition.to}") %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
<% else %>
  <li class='warning comment'>У вас нет возможности отправить рабочую программу на проверку, потому что не заполнены необходимые пункты.</li>
<% end %>
