<%= simple_form_for [:manage, @year, @speciality, @subspeciality, @discipline, @work_programm], :remote => true do | f | %>
  <%= f.input :year, :label => 'Укажите год рабочей программы' %>
  <%= f.input :generate, :as => :boolean, :label => 'Пожалуйста, предзаполните рабочую программу на основании ГОС' if resource.gos2? %>
  <%= content_tag :div, :class => :add_file_wrapper do %>
    <%= link_to 'Выбрать файл', '#', :class => 'choose_file' %>
    <%= f.input :vfs_path, :as => :hidden, :input_html => {:params => "vfs_path=/plans/#{@year.number}/#{t(@speciality.degree)}/#{@speciality.code}/#{@subspeciality.subdepartment.abbr}/#{@subspeciality.title}/рабочие программы/"} %>
  <% end if can?(:upload_file, @work_programm) %>
  <div class="buttons">
    <%= f.submit  %>
    <%= link_to 'Отмена', '#', :class => 'cancel_link' %>
  </div>
<% end %>
