<h4><%= @work_programm %></h4>

<% unless @work_programm.vfs_path? %>
  <div class='work_programm_wrapper'>
    <div class="toc_no_selected">
      Выберите пункт рабочей программы.
    </div>
    <ul id='toc'>
      <li id='protocol' class='<%= indicate_validity :protocol_valid %>'>
        <h5>Протокол заседания</h5>
        <%= render :partial => 'protocol' %>
      </li>

      <li id='authors' class='<%= indicate_validity :authors_valid %>'>
        <h5>Авторы рабочей программы</h5>
        <%= render :partial => 'authors' %>
      </li>

      <li id='paragraph1' class='<%= indicate_validity :purposes_and_missions_valid %>'>
        <h5>1. Цели и задачи дисциплины, ее место в учебном процессе</h5>
        <%= render :partial => 'paragraph1' %>
      </li>

      <li id='paragraph2' class='<%= indicate_validity :exercises_valid %>'>
        <h5>2. Содержание дисциплины</h5>
        <%= render :partial => 'paragraph2' %>
      </li>

      <li id='paragraph3' class='<%= indicate_validity :publications_valid %>'>
        <h5>3. Учебно-методические материалы по дисциплине</h5>
        <%= render :partial => 'paragraph3' %>
      </li>

      <li id='paragraph4' class='<%= indicate_validity :brs_valid %>'>
        <h5>4. Рейтинговая система оценки качества</h5>
        <%= render :partial => 'paragraph4' %>
      </li>
    </ul>
  </div>
<% end %>

<%= content_for :top_left_side_additions do %>
  <%= link_to "&larr; назад к специальности".html_safe, manage_year_speciality_subspeciality_path(@year.number, @speciality.code, @subspeciality, :anchor => @discipline.translited_cycle), :class => 'back_link' %>
  <h6>Информация о рабочей программе</h6>
  <div class="information">
    <span><%= t('enter_year', :year => @year.number) %></span>
    <span><%= @speciality %></span>
    <span><%= t("activerecord.values.speciality.#{@speciality.degree}") %></span>
    <span><%= @work_programm.profiled_subdepartment %></span>
    <span><%= @subspeciality %></span>
  </div>
  <% unless @work_programm.vfs_path? %>
    <h6>Содержание рабочей программы</h6>
    <ul class='navigation toc'>
      <% if @work_programm.protocol_valid? || @work_programm.check_by_provided_subdepartment? %>
        <li class='<%= indicate_validity :protocol_valid %>'><a href='#protocol'>Протокол заседания</a></li>
      <% end %>
      <li class='<%= indicate_validity :authors_valid %>'><a href='#authors'>Авторы рабочей программы</a></li>
      <li class='<%= indicate_validity :purposes_and_missions_valid %>'><a href='#paragraph1'>1. Цели и задачи дисциплины, ее место в учебном процессе</a></li>
      <li class='<%= indicate_validity :exercises_valid %>'><a href='#paragraph2'>2. Содержание дисциплины</a></li>
      <li class='<%= indicate_validity :publications_valid %>'><a href='#paragraph3'>3. Учебно-методические материалы по дисциплине</a></li>
      <li class='<%= indicate_validity :brs_valid %>'><a href='#paragraph4'>4. Рейтинговая система оценки качества</a></li>
    </ul>
  <% end %>

  <h6>PDF рабочей программы</h6>
  <% if resource.released? %>
    <div class="information">
      <% if @work_programm.vfs_path? %>
        <%= link_to "Скачать PDF рабочей программы", @work_programm.vfs_path, :class => 'download_link' %>
      <% else %>
        <%= link_to "Скачать PDF рабочей программы", resource_path(:format => :pdf), :class => 'download_link' %>
      <% end %>
    </div>
  <% else %>
    <div class="warning comment">
      Вы не можете скачать PDF рабочей программы, потому что она не прошла проверку.
    </div>
  <% end %>

  <% unless @work_programm.vfs_path? %>
    <h6>Действия</h6>
    <ul class='actions'>
      <%= render 'event_actions' %>
    </ul>
  <% end %>
<% end %>

<%= content_for :bottom_left_side_additions do %>
  <h6>История изменений</h6>
  <ul class='message_history'>
    <% @work_programm.messages.order('created_at DESC').each_with_index do |message, index| %>
      <li class='<%= index > 2 ? 'hide' : 'visible' %>'>
        <span class='date'><%= l message.created_at, :format => "%d %b %Y, %H:%M" %></span>
        <span class='message'><%= message.work_programm_state %></span>
      </li>
    <% end %>
  </ul>
  <%= link_to "&darr; показать еще &darr;".html_safe, '#', :class => 'show_more' if @work_programm.messages.size > 3 %>
<% end %>
