<tr class='ajaxed_item'>
  <td colspan=3>
    <%= simple_form_for [:manage, association_chain, resource].flatten, :remote => true do |f| %>
      <%= f.input :publication_kind, :as => :hidden %>

      <%= f.input :location %>
      <%= f.input :text %>
      <%= f.input :url, :as => :string, :wrapper_html => { :style => "display: #{f.object.location_lan? || f.object.location_portal? ? 'block' : 'none'}" } %>
      <%= f.input :count, :wrapper_html => { :style => "display: #{f.object.location_library? ? 'block' : 'none'}" } %>

      <div class="buttons">
        <%= f.submit 'Сохранить публикацию' %>
        <% if resource.new_record? %>
          <%= link_to 'Отмена', '#', :class => 'cancel new_record' %>
        <% else %>
          <%= link_to 'Отмена', resource_path, :remote => true %>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
