<tr class="ajaxed_item">
  <td>
    <% if publication.url? %>
      <%= link_to publication.text, publication.url %>
    <% else %>
      <%= publication.text %>
    <% end %>
  </td>
  <td class='centered'>
    <%= publication.human_location %>
  </td>
  <td class='centered'>
    <%= publication.count? ? "#{publication.count} экз." : '&mdash;'.html_safe %>
  </td>
  <td class='centered'>
    <% if can? :modify, @work_programm %>
      <%= link_to "править", edit_manage_year_speciality_subspeciality_discipline_work_programm_publication_path(@year, @speciality, @subspeciality, @discipline, @work_programm, publication), :remote => true, :class => 'edit_link' %>
      <%= link_to "удалить", manage_year_speciality_subspeciality_discipline_work_programm_publication_path(@year, @speciality, @subspeciality, @discipline, @work_programm, publication), :remote => true, :method => :delete, :confirm => t('are_you_sure?'), :class => 'remove_link' %>
    <% end %>
  </td>
</tr>
