<tr class="ajaxed_item">
  <td>
    <%= publication.text %>
    <%= publication.url %>
  </td>
  <td>
    <%= publication.human_location %>
  </td>
  <td>
    <%= "#{publication.count} экз." if publication.count? %>
  </td>
  <td>
    <% if can? :modify, @work_programm %>
      <%= link_to "править", edit_manage_year_speciality_subspeciality_discipline_work_programm_publication_path(@year, @speciality, @subspeciality, @discipline, @work_programm, publication), :remote => true %>
      <%= link_to "удалить", manage_year_speciality_subspeciality_discipline_work_programm_publication_path(@year, @speciality, @subspeciality, @discipline, @work_programm, publication), :remote => true, :method => :delete, :confirm => t('are_you_sure?') %>
    <% end %>
  </td>
</tr>
