<tr class='exercise'>
  <td class='left'>
    <div class='title'><%= exercise.title %></div>
    <div class='description'><%= simple_format exercise.description %></div>

    <div class="description">
      <% if exercise.appendix %>
        <b style='font-weight: bold;'><%= exercise.appendix %></b>
        <ul class='list' style='padding: 0 0 0 15px'>
          <% exercise.appendix.appendix_items.each do |item| %>
            <li><%= item.description %></li>
          <% end %>
        </ul>
        <% if can? :manage, @work_programm %>
          <%= link_to 'править приложение', [:edit, :manage, @year, @speciality, @subspeciality, @discipline, @work_programm, exercise, :appendix] %>
          <%= link_to 'удалить приложение', [:manage, @year, @speciality, @subspeciality, @discipline, @work_programm, exercise, :appendix], :confirm => t('are_you_sure?'), :method => :delete %>
        <% end %>
      <% else %>
        <% if can? :manage, @work_programm %>
          <%= link_to '+ приложение', [:new, :manage, @year, @speciality, @subspeciality, @discipline, @work_programm, exercise, :appendix] %>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class='hours'>
    <%= exercise.volume %>
  </td>
  <td>
    <% if can? :manage, @work_programm %>
      <%= link_to "править", edit_manage_year_speciality_subspeciality_discipline_work_programm_exercise_path(@year, @speciality, @subspeciality, @discipline, @work_programm, exercise), :remote => true %>
      <%= link_to "удалить", manage_year_speciality_subspeciality_discipline_work_programm_exercise_path(@year, @speciality, @subspeciality, @discipline, @work_programm, exercise), :remote => true, :method => :delete, :confirm => t('are_you_sure?') %>
    <% end %>
  </td>
</tr>
