<table class='ajaxed exercises'>
  <thead>
    <tr>
      <th>Тема и содержание</th>
      <th>Объем, часов</th>
      <th class='ud_actions'></th>
    </tr>
  </thead>
  <tbody>
    <%= render collection %>
    <tr>
      <td colspan='3' class='centered'>
        <% if can? :modify, @work_programm %>
          <%= link_to Exercise.add_kind.find_value(kind).text, new_manage_year_speciality_subspeciality_discipline_work_programm_exercise_path(@year, @speciality, @subspeciality, @discipline, @work_programm, :params => { :exercise => { :semester_id => semester.id, :kind => kind }}), :remote => true, :class => 'new_record in_table new_link' %>
        <% end %>
      </td>
    </tr>
    <tr class='total_hours'>
      <% sum = collection.map(&:volume).sum %>
      <td colspan='3' class='noborder right <%= 'warning' if sum != loadings.first.value %>'>
        Всего часов добавленных занятий: <span><%= sum %></span>
      </td>
    </tr>

    <tr class='rup_hours'>
      <td colspan='3' class='noborder right'>Необходимо часов по РУП: <span><%= loadings.first.value %></span></td>
    </tr>
  </tbody>
</table>
