<li class='with_tip' title='<%= t("message.#{message.work_programm.state}") %>'>
  <div class='wrapper'>
    <%= link_to message.work_programm,
      manage_year_speciality_subspeciality_discipline_work_programm_path(
        message.work_programm.subspeciality.speciality.year,
        message.work_programm.subspeciality.speciality,
        message.work_programm.subspeciality,
        message.work_programm.discipline,
        message.work_programm
    ) %>

    <span class="info">
      <span class='subdepartment'>
        <%= message.work_programm.profiled_subdepartment.abbr %>
      </span>
      <span>
        <%= message.work_programm.subspeciality.speciality.code %>
        <%= message.work_programm.subspeciality.speciality.title %>
        <%= message.work_programm.subspeciality.title %>
      </span>
      <span>
        <%= message.work_programm.creator %>
        <% if message.text? %>&nbsp;&mdash;&nbsp;<span class="text"><%= message.text %></span><% end %>
      </span>
    </span>

  </div>
</li>
