<% url = resource.new_record? ? [:manage, association_chain, :authors].flatten : manage_year_speciality_subspeciality_discipline_work_programm_author_path(@year, @speciality, @subspeciality, @discipline, @work_programm, resource) %>
<tr class='exersice'>
  <td colspan=5>
    <div class='hide autocomplete_data'>
      <%#= resource.class.collection_by_department(@discipline.subdepartment).map(&:as_json) %>
      <%= resource.class.collection_by_department(Subdepartment.find(15)).to_json %>
    </div>
    <%= simple_form_for resource, :url => url, :remote => true do |f| %>
      <%= f.input :full_name, :as => :string, :input_html => { :class => 'need_autocomplete' } %>
      <%= f.input :post, :as => :string %>
      <%= f.input :academic_degree, :as => :string %>
      <%= f.input :academic_rank, :as => :string %>

      <div class="buttons">
        <%= f.submit %>
        <% if resource.new_record? %>
          <%= link_to 'Отмена', '#', :class => 'cancel new_record' %>
        <% else %>
          <%= link_to 'Отмена', manage_year_speciality_subspeciality_discipline_work_programm_author_path(@year, @speciality, @subspeciality, @discipline, @work_programm, resource), :remote => true %>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
