<%= link_to "к списку специальностей", portal_gos_path(:gos_generation => subspeciality.gos_generation) %>
<table>
  <thead>
    <tr>
      <% subspeciality.headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
    <% i = 0 %>
    <% subspeciality.cycles_with_disciplines.each do |cycle, disciplines| %>
      <tr>
        <td colspan='<%= subspeciality.columns_count %>' class='cycle'>
          <%= cycle %>
        </td>
      </tr>
      <% disciplines.each do |discipline| %>
        <tr>
          <td>
            <%= i += 1 %>
          </td>
          <td>
            <%= discipline.title %>
          </td>
          <td>
            <%= discipline.exam_semesters %>
          </td>
          <td>
            <%= discipline.end_of_term_semesters %>
          </td>
          <td>
            <%= discipline.end_of_course_semesters %>
          </td>
          <% subspeciality.semesters.each do |semester| %>
            <td>
              <%= '+' if discipline.loadings_in_semester?(semester) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </thead>
</table>
