<li>
  <div class="list">
    <h5><%= speciality %></h5>
    <ul>
      <% speciality.actual_subspecialities.each do |subspeciality| %>
        <% if subspeciality.warnings.empty? %>
          <li>
        <% else %>
          <% title = subspeciality.warnings %>
          <li class='warning with_tip' title='<%= title.join(', ') %>'>
        <% end %>
          <div class="wrapper">
            <%= link_to subspeciality, manage_year_speciality_subspeciality_path(@year.number, speciality.code, subspeciality) %>
            <%= '(сокращённая)' if subspeciality.reduced? %>
            <%= subspeciality.id if subspeciality.has_actual_disciplines? %>
            <span class='subdepartment'><%= subspeciality.subdepartment.abbr %></span>
            <%= content_tag :div, :class => :work_plan_link do %>
              <%= work_plan_api_url subspeciality.work_plan %>
            <% end if subspeciality.work_plan %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</li>
