<tr class='ajaxed_item'>
  <td class='left'><%= rating_item.title %></td>
  <td class='centered max_begin_1kt'><%= rating_item.max_begin_1kt %></td>
  <td class='centered max_1kt_2kt'><%= rating_item.max_1kt_2kt %></td>
  <td class='centered max_2kt_end'><%= rating_item.max_2kt_end %></td>
  <td class='centered total_score'><%= rating_item.total_score %></td>
  <td>
    <% if can? :modify, @work_programm %>
      <%= link_to "править", edit_manage_year_speciality_subspeciality_discipline_work_programm_rating_item_path(@year, @speciality, @subspeciality, @discipline, @work_programm, rating_item),
          :remote => true, :class => 'edit_link' %>
      <%= link_to "удалить", manage_year_speciality_subspeciality_discipline_work_programm_rating_item_path(@year, @speciality, @subspeciality, @discipline, @work_programm, rating_item),
          :remote => true, :method => :delete, :confirm => t('are_you_sure?'), :class => 'remove_link' %>
    <% end %>
  </td>
</tr>
