<table class='ajaxed rating_items'>
  <thead>
    <tr>
      <th>Элементы учебной деятельности</th>
      <th>Максимальный балл за период между началом семестра и 1КТ</th>
      <th>Максимальный балл за период между 1КТ и 2КТ</th>
      <th>Максимальный балл за период между 2КТ и концом семестра</th>
      <th>Всего за семестр</th>
      <th class='ud_actions'></th>
    </tr>
  </thead>
  <tbody>
    <%= render @work_programm.rating_items_for_semester(semester).with_kind('default') %>
    <tr>
      <td colspan=6 class='centered'>
        <% if can? :modify, @work_programm %>
          <%= link_to "добавить элемент учебной деятельности", new_manage_year_speciality_subspeciality_discipline_work_programm_rating_item_path(
            @year, @speciality, @subspeciality, @discipline, @work_programm, :params => { :rating_item => { :semester_id => semester.id, :kind => :default }}),
            :remote => true, :class => 'new_record in_table new_link' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Итого максимум за период:</td>
      <td class='centered target_max_begin_1kt'></td>
      <td class='centered target_max_1kt_2kt'></td>
      <td class='centered target_max_2kt_end'></td>
      <td class='centered target_total_score'></td>
      <td></td>
    </tr>
    <% if @discipline.has_exam_at_semester?(semester) %>
      <tr>
        <td>Сдача экзамена</td>
        <td class='centered'>&mdash;</td>
        <td class='centered'>&mdash;</td>
        <td class='centered'>&mdash;</td>
        <td class='examination_total centered'></td>
        <td></td>
      </tr>
    <% end %>
    <tr class='increasing_row'>
      <td class='centered'>Нарастающий итог:</td>
      <td class='centered increasing_max_begin_1kt'></td>
      <td class='centered increasing_max_1kt_2kt'></td>
      <td class='centered increasing_max_2kt_end'></td>
      <td class='centered increasing_total'></td>
      <td></td>
    </tr>
  </tbody>
</table>

<% if @work_programm.grouped_loadings(:csr)[semester] %>
  <h6>Балльная раскладка для курсового проекта / курсовой работы</h6>
  <table class='ajaxed rating_items'>
    <thead>
      <tr>
        <th>Элементы учебной деятельности</th>
        <th>Максимальный балл за период между началом семестра и 1КТ</th>
        <th>Максимальный балл за период между 1КТ и 2КТ</th>
        <th>Максимальный балл за период между 2КТ и концом семестра</th>
        <th>Всего за семестр</th>
        <th class='ud_actions'></th>
      </tr>
    </thead>
    <tbody>
      <%= render @work_programm.rating_items_for_semester(semester).with_kind('csr') %>
      <tr>
        <td colspan=6 class='centered'>
          <% if can? :modify, @work_programm %>
            <%= link_to "добавить элемент учебной деятельности", new_manage_year_speciality_subspeciality_discipline_work_programm_rating_item_path(
              @year, @speciality, @subspeciality, @discipline, @work_programm, :params => { :rating_item => { :semester_id => semester.id, :kind => :csr }}),
              :remote => true, :class => 'new_record in_table new_link' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class='centered'>Итого максимум за период:</td>
        <td class='centered target_max_begin_1kt'></td>
        <td class='centered target_max_1kt_2kt'></td>
        <td class='centered target_max_2kt_end'></td>
        <td class='centered target_total_score'></td>
        <td></td>
      </tr>
      <tr class='increasing_row'>
        <td class='centered'>Нарастающий итог:</td>
        <td class='centered increasing_max_begin_1kt'></td>
        <td class='centered increasing_max_1kt_2kt'></td>
        <td class='centered increasing_max_2kt_end'></td>
        <td class='centered increasing_total'></td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% end %>

<% if @discipline.has_exam_at_semester?(semester) %>
  <div>
    <h6>Экзаменационные билеты содержат:</h6>
    <table class='ajaxed examination_questions'>
      <thead>
        <tr>
          <th>Вид вопроса</th>
          <th>Кол-во баллов</th>
          <th class='ud_actions'></th>
        </tr>
      </thead>
      <tbody>
        <%= render @work_programm.examination_questions_for_semester(semester) %>
        <tr>
          <td colspan=3 class='centered'>
            <% if can? :modify, @work_programm %>
              <%= link_to "добавить вопрос", new_manage_year_speciality_subspeciality_discipline_work_programm_examination_question_path(
                @year, @speciality, @subspeciality, @discipline, @work_programm, :params => { :examination_question => { :semester_id => semester.id }}),
                :remote => true, :class => 'new_record in_table new_link' %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
