<% content_for :breadcrumbs do %>
  <a href="/">Главная страница</a>
  <span class="black">→</span>
  <a href="/plans">Наши специальности</a>
  <span class="black">→</span>

  <% if params[:gos_generation] == '2' %>
    <%= link_to "ГОС-2", plans_gos_path(:gos_generation => 2) %>
  <% else %>
    <%= link_to "ФГОС-3", plans_gos_path(:gos_generation => 3) %>
  <% end %>
<% end %>

<% if params[:gos_generation] == '2' %>
  <h1>Cписок специальностей ГОС-2</h1>
<% else %>
  <h1>Cписок специальностей ФГОС-3</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Код</td>
      <th>Наименование</td>
      <th>Профиль</td>
      <th>Степень подготовки</td>
      <th>Год</td>
      <th>Кафедра</td>
      <th>Форма обучения</td>
      <th>Просмотр</td>
      <th>PDF</td>
    </tr>
    <% subspecialities.each do |subspeciality| %>
      <tr>
        <td><%= subspeciality.speciality.code %></td>
        <td><%= subspeciality.speciality.title %></td>
        <td><%= subspeciality.title %></td>
        <td><%= subspeciality.speciality.degree %></td>
        <td><%= subspeciality.year %></td>
        <td><%= subspeciality.graduated_subdepartment %></td>
        <td><%= subspeciality.education_form %></td>
        <td><%= link_to "смотреть", [:plans, subspeciality] %></td>
        <td><%= link_to "скачать", work_plan_api_url(subspeciality.work_plan) if subspeciality.work_plan %></td>
      </tr>
    <% end %>
  </thead>
</table>
