<tr>
  <td><%= rating_item.title %></td>
  <td class='max_begin_1kt'><%= rating_item.max_begin_1kt %></td>
  <td class='max_1kt_2kt'><%= rating_item.max_1kt_2kt %></td>
  <td class='max_2kt_end'><%= rating_item.max_2kt_end %></td>
  <td class='total_score'><%= rating_item.total_score %></td>
  <td>
    <%= link_to "править", edit_year_speciality_subspeciality_discipline_work_programm_rating_item_path(@year, @speciality, @subspeciality, @discipline, @work_programm, rating_item), :remote => true %>
    <%= link_to "удалить", year_speciality_subspeciality_discipline_work_programm_rating_item_path(@year, @speciality, @subspeciality, @discipline, @work_programm, rating_item), :method => :delete, :confirm => t('are_you_sure?') %>
  </td>
</tr>

