<table class='self_education'>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Наименование работы</th>
      <th></th>
      <th><%= SelfEducation.human_attribute_name :lecture_hours  %></th>
      <th><%= SelfEducation.human_attribute_name :lecture_control  %></th>
    </tr>
  </thead>

  <%= simple_form_for resource, :url => (association_chain + [:self_education]) do |form| %>
    <tbody>
    <% SelfEducation::ALL_KINDS.each_with_index do |kind, index| %>
      <tr class='<%= cycle("even", "odd") %>'>
        <td><%= index + 1 %>.</td>
        <td class='left'><%= SelfEducation.human_attribute_name(kind) %></td>
        <% if resource.respond_to?("need_#{kind}?") && resource.send("need_#{kind}?") || !resource.respond_to?("need_#{kind}?") %>
          <td><%= link_to "список тем (#{@work_programm.appendixes.send(:kind, kind).count})", polymorphic_url(association_chain + [:appendixes], :kind => kind) if Appendix::ALL_KINDS.include?(kind) %></td>
          <td><%= form.input "#{kind}_hours", :label => false %></td>
          <td><%= form.input "#{kind}_control", :as => :check_boxes, :collection => SelfEducation.human_enums["#{kind}_control"].invert, :label => false %></td>
        <% else %>
          <td class='right warnings' colspan='3'>Не предусмотрено учебным планом</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form.submit 'Сохранить' %>
<% end %>
