<table class='self_education'>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Наименование работы</th>
      <th><%= SelfEducation.human_attribute_name :lecture_hours  %></th>
      <th><%= SelfEducation.human_attribute_name :lecture_control  %></th>
    </tr>
  </thead>

  <%= simple_form_for resource, :url => (association_chain + [:self_education]) do |form| %>
  <tbody>
      <tr>
        <td>1.</td>
        <td>Проработка лекционного материала</td>
        <% if resource.need_lecture?  %>
          <td><%= form.input :lecture_hours, :label => false %></td>
          <td>
            <%= form.input :lecture_control, :as => :check_boxes, :collection => SelfEducation.human_enums[:lecture_control].invert, :label => false %>
          </td>
        <% else %>
          <td colspan='2'>Не предусмотрено учебным планом</td>
        <% end %>
      </tr>
  </tbody>

</table>

<%= form.submit 'Сохранить' %>
<% end %>
