<table class='self_education'>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Наименование работы</th>
      <th><%= SelfEducation.human_attribute_name :lecture_hours  %></th>
      <th><%= SelfEducation.human_attribute_name :lecture_control  %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1.</td>
      <td>Проработка лекционного материала</td>
      <% if self_education.need_lecture? %>
        <td><%= self_education.lecture_hours %></td>
        <td><%= SelfEducation.human_enum_values(:lecture_control).values_at(*self_education.lecture_control).join(', ') %></td>
      <% else %>
        <td colspan='2'>Не предусмотрено учебным планом</td>
      <% end %>
    </tr>
    <tr>
      <td>2.</td>
      <td>Подготовка к лабораторным работам и оформление отчетов по ЛР</td>
      <% if self_education.need_lab? %>
        <td><%= self_education.lab_hours %></td>
        <td><%= SelfEducation.human_enum_values(:lab_control).values_at(*self_education.lab_control).join(', ') %></td>
      <% else %>
        <td colspan='2'>Не предусмотрено учебным планом</td>
      <% end %>
    </tr>
    <tr>
      <td>3.</td>
      <td>Подготовка к практическим занятиям, семинарам</td>
      <% if self_education.need_practice? %>
        <td><%= self_education.practice_hours %></td>
        <td><%= SelfEducation.human_enum_values(:practice_control).values_at(*self_education.practice_control).join(', ') %></td>
      <% else %>
        <td colspan='2'>Не предусмотрено учебным планом</td>
      <% end %>
    </tr>
    <tr>
      <td>4.</td>
      <td>Выполнение курсового проекта (работы)</td>
      <% if self_education.need_csr? %>
        <td><%= self_education.csr_hours %></td>
        <td><%= SelfEducation.human_enum_values(:csr_control).values_at(*self_education.csr_control).join(', ') %></td>
      <% else %>
        <td colspan='2'>Не предусмотрено учебным планом</td>
      <% end %>
    </tr>
  </tbody>
</table>
