<table class='self_education'>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Наименование работы</th>
      <th><%= SelfEducation.human_attribute_name :lecture_hours  %></th>
      <th><%= SelfEducation.human_attribute_name :lecture_control  %></th>
    </tr>
  </thead>
  <tbody>
    <% SelfEducation::ALL_KINDS.each_with_index do |kind, index| %>
      <tr class='<%= cycle("even", "odd") %>'>
        <td><%= index + 1 %>.</td>
        <td class="left"><%= SelfEducation.human_attribute_name(kind) %></td>
        <% if self_education.respond_to?("need_#{kind}?") && self_education.send("need_#{kind}?") || !self_education.respond_to?("need_#{kind}?") %>
          <td class='hours'><%= self_education.send("#{kind}_hours") %></td>
          <td><%= SelfEducation.human_enum_values("#{kind}_control").values_at(*self_education.send("#{kind}_control")).join(', ') %></td>
        <% else %>
          <td class='right warnings' colspan='2'>Не предусмотрено учебным планом</td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td class='left' colspan='2'>Всего часов самостоятельной работы:</td>
      <td class='hours center'><%= self_education.total_hours %></td>
      <td></td>
    </tr>
  </tbody>
</table>
