<h4><%= resource %></h4>

<div class="list">
  <ul>
    <% resource.disciplines.sort.each do |discipline| %>
      <% if unit = resource.didactic_units.where(:discipline => discipline.title).first %>
        <li>
          <div class="wrapper">
            <%= link_to discipline, [:manage, resource, unit] %>
            <%= discipline.cycle_code %>
          </div>
        </li>
      <% else %>
        <li class='warning with_tip' title='Нет дидактических единиц'>
          <div class="wrapper">
            <%= link_to discipline, new_manage_gos_didactic_unit_path(resource, :params => { :didactic_unit => { :discipline => discipline.title }}) %>
            <%= discipline.cycle_code %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= content_for :bottom_left_side_additions do %>
  <%= link_to "&larr;&nbsp;К списку ГОС'ов".html_safe, manage_goses_path, :class => 'back_link' %>
  <div class='information'>
    <span>Дата утверждения: <%= l resource.approved_on, :format => "%d %b %Y" %></span>
    <span>Специальности: <%= resource.speciality_code %> <%= resource.speciality_title %></span>
  </div>

  <div class="comment">
    Здесь вы можете добавить дидактические единицы для дисциплин федерального компонента.
  </div>
<% end %>
