<p>
  <%= link_to "&larr;&nbsp;К списку ГОС'ов".html_safe, manage_goses_path %>
</p>

<h1>Государственный общеобразовательный стандарт</h1>

<div class="actions">
  <%= link_to 'Редактировать', edit_resource_path %>
  <%= link_to 'Удалить', [:manage, resource], :confirm => t('are_you_sure?'), :method => :delete %>
</div>

<h2><%= resource %></h2>
<h3>Дата утверждения: <%= l resource.approved_on %></h3>
<h3>Специальности: <%= resource.speciality_code %> <%= resource.speciality_title %></h3>

<h4>Дисциплины</h4>

<ul>
  <% Speciality.where(:code => resource.speciality_code).each do |speciality| %>
    <% speciality.subspecialities.flat_map(&:disciplines).select(&:federal?).sort.each do |discipline| %>
      <li>
        <% if unit = resource.didactic_units.where(:discipline => discipline.title).first %>
          <%= link_to discipline, [:manage, resource, unit] %>
          <%= discipline.code %>
        <% else %>
          <%= discipline %>
          <%= discipline.code %>
          <%= link_to 'Добавить', new_manage_gos_didactic_unit_path(resource, :params => { :didactic_unit => { :discipline => discipline.title }}) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
