<tr class="exercise_form">
  <td colspan='4'>
    <%= simple_form_for [:manage, association_chain, resource].flatten, :html => {:remote => true} do |form| %>
      <%= form.input :semester_id, :as => :hidden %>

      <%= form.input :kind, :as => :select, :collection => resource.kind_collection_for_select %>
      <%= form.input :hours %>
      <%= form.input :control, :as => :check_boxes, :collection => SelfEducationItem.control_collection_for_select  %>

      <div class="buttons">
        <%= form.submit 'Сохранить' %>
        <% if resource.new_record? %>
          <%= link_to 'Отмена', '#', :class => 'cancel new_record' %>
        <% else %>
          <%= link_to 'Отмена', resource_path, :remote => true %>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
