<tr class="ajaxed_item">
  <td>
    <%= simple_form_for [:manage, association_chain, resource].flatten, :remote => true do |f| %>
      <%= f.input :semester_id, :as => :hidden %>

      <%= f.input :kind, :as => :select, :collection => resource.kind_collection_for_select %>
      <%= f.input :hours %>
      <%= f.input :control, :as => :check_boxes, :collection => SelfEducationItem.control_collection_for_select  %>

      <div class="buttons">
        <%= f.submit 'Сохранить' %>
        <% if resource.new_record? %>
          <%= link_to 'Отмена', '#', :class => 'cancel new_record' %>
        <% else %>
          <%= link_to 'Отмена', resource_path, :remote => true %>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
