<%= link_to "&larr; назад к списку".html_safe, rpz_index_path %>
<h1><%= [@subspeciality.speciality, @subspeciality, @subspeciality.reduced_text, @subspeciality.graduated_subdepartment].delete_if(&:blank?).join(', ').html_safe %></h1>
<ul>
  <% @subspeciality.actual_semesters.each do |semester| %>
    <li>
      <h3><%= semester %></h2>
      <div class="collapsed_item">
        <table>
          <thead>
            <tr>
              <th>Дисциплина</th>
              <th>Кол-во часов</th>
              <th>Форма учета</th>
              <th>Фамилия преподавателя</th>
              <th>Совместно с группами</th>
              <th>Кафедра</th>
            </tr>
          </thead>
          <tbody>
            <% semester.loadings.actual.group_by(&:discipline).each do |discipline, loadings| %>
              <tr>
                <td colspan=2 class='discipline'><%= discipline %></td>
                <td colspan=3><%= discipline.checks.select{|c| c.semester == semester}.map(&:check_kind_text).join(', ') %></td>
                <td colspan=1 title='<%= discipline.subdepartment.title %>'><%= discipline.subdepartment.abbr %></td>
              </tr>
              <% loadings.select{|l| ['lecture', 'lab', 'practice', 'csr'].include?(l.loading_kind)}.each do |loading| %>
                <tr class='loading'>
                  <td><%= loading.human_loading_kind %></td>
                  <td><%= loading.value %></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <% semester_loadings = semester.loadings.actual.select{|l| ['lecture', 'lab', 'practice', 'csr'].include?(l.loading_kind)} %>
        <table>
          <thead>
            <tr>
              <th>Всего</th>
              <th>Лекции</th>
              <th>Лаб. раб.</th>
              <th>Практики</th>
              <th>Курс. раб./Курс. пр.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= semester_loadings.map(&:value).sum %></td>
              <td><%= semester_loadings.select(&:loading_kind_lecture?).map(&:value).sum %></td>
              <td><%= semester_loadings.select(&:loading_kind_lab?).map(&:value).sum %></td>
              <td><%= semester_loadings.select(&:loading_kind_practice?).map(&:value).sum %></td>
              <td><%= semester_loadings.select(&:loading_kind_csr?).map(&:value).sum %></td>
            </tr>
          </tbody>
        </table>
        <table>
          <tr>
            <% semester.checks.actual.group_by(&:check_kind).each do |check_kind, checks| %>
              <td>
                <%= t check_kind, :count => checks.count %>
              </td>
            <% end %>
          </tr>
        </table>
      </div>
    </li>
  <% end %>
</ul>
<script type="text/javascript">
  $('.collapsed_item').hide();
  $('li>h3').on('click', function(){
    if ($(this).siblings('.collapsed_item').is(':visible')) {
      return false;
    }
    $('.collapsed_item:visible').slideToggle();
    $(this).siblings('.collapsed_item').slideToggle();
    return false;
  });
</script>
