<p>
  <%= link_to '&larr;&nbsp;К списку специальностей'.html_safe, year_specialities_path(resource.speciality.year.number)  %>
</p>

<h1>Образовательная программа</h1>

<h2>
<%= resource.speciality.code %>
<%= resource.speciality.title %><br/>
</h2>

<h3><%= t "#{resource.speciality.degree}_prepare" %></h3>
<h4><%= resource.title %></h4>
<h4>Выпускающая кафедра <%= resource.subdepartment.abbr %><br/></h4>
<h4>Год набора <%= resource.speciality.year.number %></h4>

<h4 class='programm'>
  <% if resource.programm %>
    <%= render :file => 'programms/show.html.erb', :locals => { :resource => resource.programm } %>
  <% else %>
    <%= link_to 'Добавить прогорамму', new_year_speciality_subspeciality_programm_path(parent.year.number, parent.code, resource), :class => 'add_link', :remote => true %>
  <% end %>
</h4>

<table>
  <thead>
    <tr>
      <th rowspan=2>Название дисциплины</th>
      <% Check.human_enum_values(:kind).each do |kind, caption| %>
        <th rowspan=2><%= caption %></th>
      <% end %>
      <% resource.semesters.each do |semester| %>
        <th colspan=<%= Loading.enum_values(:kind).size %>><%= semester.number %> семестр</th>
      <% end %>
    </tr>
    <tr>
      <% resource.semesters.each do |semester| %>
        <% Loading.enum_values(:kind).each do |kind| %>
          <th><%= I18n.t kind, :scope => "activerecord.attributes.loading.kind_abbrs" %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% cycles = {} %>
    <% resource.disciplines.group_by(&:cycle).each do |cycle, disciplines| %>
      <% cycles[cycle] = I18n.transliterate(cycle).downcase.gsub(/[^[:alnum:]]+/, '_') %>
      <tr>
        <th colspan=5+resource.semesters.count*Loading.enum_values(:kind).size><h4 id='<%= cycles[cycle] %>'><%= cycle %></h4></th>
      </tr>
      <% disciplines.sort_by{|obj| obj.title}.each do |discipline| %>
        <tr>

        <td <%= " class='deleted'" if discipline.deleted? %>>
          <%= discipline.title %>
        </td>
        <% Check.enum_values(:kind).each do |kind| %>
          <td><%= discipline.checks.where(:kind => kind).map(&:semester).map(&:number).join(', ') %></td>
        <% end %>
        <% resource.semesters.each do |semester| %>
          <% Loading.enum_values(:kind).each do |kind| %>
            <td><%= discipline.loadings.find_by_semester_id_and_kind(semester.id, kind).try(&:value) %></td>
          <% end %>
      <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="submenu">
  <h6>Циклы обучения</h6>
  <ul>
    <% cycles.each do |cycle, anchor| %>
      <li><a href='#<%= anchor %>'><%= cycle %></a></li>
    <% end %>
    <li>&uarr;&nbsp;<a href='#top'>Наверх</a>&nbsp;&uarr;</li>
  </ul>
</div>

