<p>
  <%= link_to '&larr;&nbsp;К списку специальностей'.html_safe, year_specialities_path(resource.speciality.year.number)  %>
</p>

<h1>Образовательная программа</h1>

<h2>
<%= resource.speciality.code %>
<%= resource.speciality.title %><br/>
</h2>

<h3><%= t "#{resource.speciality.degree}_prepare" %></h3>
<h4><%= resource.title %></h4>
<h4>Выпускающая кафедра <%= resource.subdepartment.abbr %><br/></h4>
<h4>Год набора <%= resource.speciality.year.number %></h4>

<h4 class='programm'>
  <% if resource.programm %>
    <%= render :file => 'programms/show.html.erb', :locals => { :resource => resource.programm } %>
  <% else %>
    <%= link_to 'Добавить прогорамму', new_year_speciality_subspeciality_programm_path(parent.year.number, parent.code, resource), :class => 'add_link', :remote => true %>
  <% end %>
</h4>

<ul class='disciplines'>
  <% cycles = {} %>
  <% resource.disciplines.group_by(&:cycle).each do |cycle, disciplines| %>
    <% cycles[cycle] = I18n.transliterate(cycle).downcase.gsub(/[^[:alnum:]]+/, '_') %>
    <li>
      <h4 id='<%= cycles[cycle] %>'><%= cycle %></h4>
      <ul>
        <% disciplines.sort_by{|obj| obj.title}.each do |discipline| %>
          <li <%= " class='deleted'" if discipline.deleted? %>>
            <%= discipline.title %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>

<div class="submenu">
  <h6>Циклы обучения</h6>
  <ul>
    <% cycles.each do |cycle, anchor| %>
      <li><a href='#<%= anchor %>'><%= cycle %></a></li>
    <% end %>
    <li>&uarr;&nbsp;<a href='#top'>Наверх</a>&nbsp;&uarr;</li>
  </ul>
</div>

</ul>
