<tr class='exercise'>
  <td>
    <div class='title'><%= exercise.title %></div>
    <div class='description'><%= simple_format exercise.description %></div>

    <div class="description">
      <% if exercise.appendix %>
        <%= exercise.appendix %>
        <ul>
          <% exercise.appendix.appendix_items.each do |item| %>
            <li><%= item.description %></li>
          <% end %>
        </ul>
        <%= link_to 'править приложение', [:edit, @year, @speciality, @subspeciality, @discipline, @work_programm, exercise, :appendix] %>
        <%= link_to 'удалить приложение', [@year, @speciality, @subspeciality, @discipline, @work_programm, exercise, :appendix], :confirm => t('are_you_sure?'), :method => :delete %>
      <% else %>
        <%= link_to '+ приложение', [:new, @year, @speciality, @subspeciality, @discipline, @work_programm, exercise, :appendix] %>
      <% end %>
    </div>
  </td>
  <td class='hours'>
    <%= exercise.volume %>
  </td>
  <td>
    <%= link_to "править", edit_year_speciality_subspeciality_discipline_work_programm_exercise_path(@year, @speciality, @subspeciality, @discipline, @work_programm, exercise), :remote => true %>
    <%= link_to "удалить", year_speciality_subspeciality_discipline_work_programm_exercise_path(@year, @speciality, @subspeciality, @discipline, @work_programm, exercise), :method => :delete, :confirm => t('are_you_sure?') %>
  </td>
</tr>
