<h5 class='center' style='font-size: 16px'><%= semester %></h5>
<table class='exercises'>
  <thead>
    <tr>
      <th class='theme'>Тема и содержание</th>
      <th class='right volume'>Объем, часов</th>
      <th class='actions'></th>
    </tr>
  </thead>
  <tbody>
    <% resource.exercises_by_semester_and_kind(semester, kind).each do |exercise| %>
      <%= render exercise %>
    <% end %>

    <tr>
      <td colspan=3 class='right add_exercise_wrapper'>
        <%= link_to "+ #{Exercise.human_enums['kind'][kind].mb_chars.downcase}", new_year_speciality_subspeciality_discipline_work_programm_exercise_path(@year, @speciality, @subspeciality, @discipline, @work_programm, :params => { :exercise => { :semester_id => semester.id, :kind => kind }}), :remote => true, :class => 'new_record' %>
      </td>
    </tr>

    <tr class='total_hours'>
      <% sum = resource.exercises_by_semester_and_kind(semester, kind).map(&:volume).sum %>
      <td colspan=3 class='right <%= 'warning' if sum > loadings.first.value %>'>
        <%= "Всего часов добавленных занятий: <span>#{sum}</span>".html_safe %>
      </td>
    </tr>

    <tr class='rup_hours'>
      <td colspan=3 class='right'><%= "Необходимо часов по РУП: <span>#{loadings.first.value}</span>".html_safe %></td>
    </tr>
  </tbody>
</table>
