<% @rups.each do |year, education_forms| %>
  <h2><%= year.number %></h2>
  <% education_forms.each do |edu_forms| %>
    <% edu_forms.each do |edu_form| %>
      <h3><%= Subspeciality.human_enum_values(:education_form)[edu_form[0]] %></h3>
      <table border=1>
        <% edu_form[1].each do |speciality, subspecialities| %>
          <tr>
            <td rowspan='<%= subspecialities.size %>'><%= speciality.code %></td>
            <td rowspan='<%= subspecialities.size %>'><%= speciality.title %></td>
            <% subspecialities.each_with_index do |subspeciality, index| %>
              <% if index > 0 %>
                </tr><tr>
              <% end %>
              <td><%= subspeciality.title %></td>
              <td><%= subspeciality.department.abbr %>, <%= subspeciality.subdepartment.abbr %></td>
              <td><%= subspeciality.file_path.split("/").last if subspeciality.file_path%></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>
