<div class='content_chapter_page'>
  <h1 class='uppercase strong'>2. Содержание дисциплины</h1>
  <% Exercise.enum_values(:kind).each_with_index do |kind, index| %>
  <h2 class='strong indentation'>2.<%= index+1 %> <%= Exercise.human_attribute_name kind.pluralize %></h2>
  <% if resource.has_loadings_for?(kind) %>
    <% resource.grouped_loadings(kind).each do |semester, loadings| %>
      <div class='split_table'>
        <table class='exercises'>
          <tbody>
            <tr>
              <td><%= semester %></td>
              <td class='hours'><%= title_page.scheduling.send(kind).hours[semester.number] %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <% resource.exercises_by_semester_and_kind(semester, kind).each do |exercise| %>
        <div class='split_table'>
          <table class='exercises'>
            <tbody>
              <tr>
                <td>
                  <div class='exercises_title strong'><%= exercise.title %></div>
                  <div class='description'><%= simple_format exercise.description %></div>
                </td>
                <td class='hours'><%= exercise.volume %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>

    <div class='split_table'>
      <table class='exercises'>
        <tbody>
          <tr>
            <td>Всего часов:</td>
            <td class='hours'><%= title_page.scheduling.send(kind).total %></td>
          </tr>
        </tbody>
      </table>
    </div>

  <% else %>
    <%= content_tag :p, 'Занятия не предусмотрены учебным планом' %>
  <% end %>

<% end %>

<h2 class='strong indentation'>2.5 <%= Exercise.human_attribute_name :srs %></h2>
<% if resource.has_loadings_for? :srs %>
  <% resource.grouped_loadings(:srs).each do |semester, loadings| %>
    <%= render :file => 'self_education_items/index', :locals => { :semester => semester, :loadings => loadings } %>
  <% end %>
<% else %>
  <%= content_tag :p, 'Не предусмотрено учебным планом' %>
<% end %>

</div> <!-- end content_chapter -->

<div class="page-break"></div>
