<div class='rating_page'>
  <h1 class='uppercase strong'>4. Рейтинговая система оценки качества</h1>
  <h2 class='strong'>4.1 Балльная раскладка отдельных элементов контроля по видам занятий</h2>

  <% resource.discipline.semesters.each_with_index do |semester, index| %>
    <h3 class='strong'>4.1.<%= index + 1 %> Балльная раскладка для <%= "#{semester.number} семестра" %></h3>

    <div class='split_table'>
      <table class='exercises rating_items rating'>
        <thead>
          <tr>
            <th>Элементы учебной деятельности</th>
            <th>Максимальный балл за период между началом семестра и 1КТ</th>
            <th>Максимальный балл за период между 1КТ и 2КТ</th>
            <th>Максимальный балл за период между 2КТ и концом семестра</th>
            <th>Всего за семестр</th>
          </tr>
        </thead>
        <tbody>
          <% resource.rating_items_for_semester(semester).with_kind('default').each do |rating_item| %>
            <tr>
              <td><%= rating_item.title %></td>
              <td class='max_begin_1kt'><%= rating_item.max_begin_1kt %></td>
              <td class='max_1kt_2kt'><%= rating_item.max_1kt_2kt %></td>
              <td class='max_2kt_end'><%= rating_item.max_2kt_end %></td>
              <td class='total_score'><%= rating_item.total_score %></td>
            </tr>
          <% end %>

          <tr>
            <td>Итого максимум за период:</td>
            <td class='target_max_begin_1kt'></td>
            <td class='target_max_1kt_2kt'></td>
            <td class='target_max_2kt_end'></td>
            <td class='target_total_score'></td>
          </tr>
          <% if resource.discipline.has_exam_at_semester?(semester) %>
            <tr>
              <td>Сдача экзамена</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td class='examination_total'><%= resource.examination_questions_for_semester(semester).map(&:score).sum %></td>
            </tr>
          <% end %>
          <tr class='increasing_row'>
            <td>Нарастающий итог:</td>
            <td class='increasing_max_begin_1kt'></td>
            <td class='increasing_max_1kt_2kt'></td>
            <td class='increasing_max_2kt_end'></td>
            <td class='increasing_total'></td>
          </tr>
        </tbody>
      </table>
    </div>

    <% if @work_programm.grouped_loadings(:csr)[semester] %>
      <h4 class='head_center'>Балльная раскладка для курсового проекта / курсовой работы</h4>
      <div class='split_table'>
        <table class='exercises rating_items rating'>
          <thead>
            <tr>
              <th>Элементы учебной деятельности</th>
              <th>Максимальный балл за период между началом семестра и 1КТ</th>
              <th>Максимальный балл за период между 1КТ и 2КТ</th>
              <th>Максимальный балл за период между 2КТ и концом семестра</th>
              <th>Всего за семестр</th>
            </tr>
          </thead>
          <tbody>
            <% resource.rating_items_for_semester(semester).with_kind('csr').each do |rating_item| %>
              <tr>
                <td><%= rating_item.title %></td>
                <td class='max_begin_1kt'><%= rating_item.max_begin_1kt %></td>
                <td class='max_1kt_2kt'><%= rating_item.max_1kt_2kt %></td>
                <td class='max_2kt_end'><%= rating_item.max_2kt_end %></td>
                <td class='total_score'><%= rating_item.total_score %></td>
              </tr>
            <% end %>

            <tr>
              <td>Итого максимум за период:</td>
              <td class='target_max_begin_1kt'></td>
              <td class='target_max_1kt_2kt'></td>
              <td class='target_max_2kt_end'></td>
              <td class='target_total_score'></td>
            </tr>
            <tr class='increasing_row'>
              <td>Нарастающий итог:</td>
              <td class='increasing_max_begin_1kt'></td>
              <td class='increasing_max_1kt_2kt'></td>
              <td class='increasing_max_2kt_end'></td>
              <td class='increasing_total'></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if resource.discipline.has_exam_at_semester?(semester) %>
      <div class='with_text_styles split_table'>
        <p>Экзаменационные билеты содержат:</p>
        <table class='exercises examination_questions rating'>
          <thead>
            <tr>
              <th>Вид вопроса</th>
              <th>Кол-во баллов</th>
            </tr>
          </thead>
          <tbody>
            <% resource.examination_questions_for_semester(semester).each do |examination_question| %>
              <tr>
                <td><%= examination_question.question_kind %></td>
                <td><%= examination_question.score %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>

  <h2 class="strong">4.2 Методика формирования пятибальных оценок в контрольные точки</h2>
  <p>Оценка в контрольные точки выставляется в соответствии с объемом работы, выполненной студентом к моменту контрольной точки. Для каждого студента рассчитывается процент  набранных им рейтинговых баллов относительно предложенных к данному моменту баллов.</p>
  <div class='split_table'>
    <table class='exercises rating'>
      <thead>
        <tr>
          <th>Оценка</th>
          <th colspan=2>Процент от максимальной суммы баллов</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>отлично</td>
          <td>от 90%</td>
        </tr>
        <tr>
          <td>хорошо</td>
          <td>70% &mdash; 89%</td>
        </tr>
        <tr>
          <td>удовлетворительно</td>
          <td>60% &mdash; 69%</td>
        </tr>
        <tr>
          <td>неудовлетворительно</td>
          <td>менее 60%</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="strong">4.3 Методика формирования итоговой оценки по дисциплине</h2>
  <p>Независимо от набранной в семестре текущей суммы баллов обязательным условием перед сдачей экзамена и/или для получения зачета является выполнение студентом необходимых по рабочей программе для дисциплины видов занятий.</p>
  <div class='split_table'>
    <table class='exercises rating' style="margin:0 0 20px 0">
      <thead>
        <tr>
          <th>Оценка</th>
          <th>Процент от максимальной суммы баллов</th>
          <th>Оценка (ECTS)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5 (отлично) (зачтено)</td>
          <td>от 90%</td>
          <td>А (отлично)</td>
        </tr>
        <tr>
          <td rowspan=3>4 (хорошо) (зачтено)</td>
          <td>85%-89%</td>
          <td>B (очень хорошо)</td>
        </tr>
        <tr>
          <td>75%-84%</td>
          <td>С (хорошо)</td>
        <tr>
          <td>70%-74%</td>
          <td rowspan=2>D (удовлетворительно)</td>
        </tr>
        <tr>
          <td rowspan=2>3 (удовлетворительно) (зачтено)</td>
          <td>65%-69%</td>
        </tr>
        <tr>
          <td>60%-64%</td>
          <td>E (посредственно)</td>
        </tr>
        <tr>
          <td>2 (неудовлетворительно) (не зачтено)</td>
          <td>менее 60%</td>
          <td>F (неудовлетворительно)</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>Преподаватель имеет право не учитывать набранную студентом сумму баллов до ликвидации студентом текущих долгов по дисциплине (лабораторные работы, практические задания, курсовой проект(работа) и др.).</p>
</div>
<div class='page-break'></div>
