<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body>
    <%= render :partial => 'reports/title' %>
    <%= render :partial => 'reports/sign' %>
    <%= render :partial => 'reports/purposes_and_tasks' %>
    <%= render :partial => 'reports/content_chapter' %>
    <%= render :partial => 'reports/publications' %>
    <%= render :partial => 'reports/rating' %>
  </body>
</html>
