<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body>
    <div class="title_page">
      <p class='ministry'>Министерство образования и науки Росиийской Федерации</p>
      <p class='university_type'>Федеральной государственное бюджетное образовательное учереждение высшего профессионального образования</p>
      <p class='university'>«Томский государственный университет систем управления и радиоэлектроники» (ТУСУР)</p>
      <div class='first_prorector'>
        <p class="center">Утверждаю</p>
        <p>Первый проректор проректор по учебной работе</p>
        <p>_______________________ Л. А. Боков</p>
        <p>«____» _____________________ <%= resource.year %> г.</p>
      </div>
      <div class="programm_info">
        <p class='title center'>Рабочая программа</p>
        <table class='discipline_info'>
          <tr>
            <td>По дисциплине</td>
            <td><%= title_page.discipline_title %></td>
          </tr>
          <tr>
            <td><%= title_page.speciality_kind %></td>
            <td><%= title_page.speciality_title %></td>
          </tr>
          <tr>
            <td>Факультет</td>
            <td><%= title_page.department_title %></td>
          </tr>
          <tr>
            <td>Профилирующая кафедра</td>
            <td><%= title_page.subdepartment_title %></td>
          </tr>
          <tr>
            <td>Курс</td>
            <td><%= title_page.courses %></td>
          </tr>
          <tr>
            <td>Семестр</td>
            <td><%= title_page.semesters %></td>
          </tr>
        </table>
        <p><%= title_page.speciality_year %></p>
      </div>

      <div class="programm_loading">
        <p>Распределение учебного времени</p>
        <table>
          <% title_page.scheduling.header.each do |row| %>
            <tr>
              <% row.each do |cell| %>
                <%= content_tag :th, cell.delete(:content), cell %>
              <% end %>
            </tr>
          <% end %>
          <% title_page.scheduling.to_a.each do |row| %>
            <tr>
              <% row.each do |cell| %>
                <td><%= cell %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="programm_checks">
        <table>
          <% title_page.checks.to_a.each do |row| %>
            <tr>
              <% row.each do |cell| %>
                <td><%= cell %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

      <p class="center bottom"><%= title_page.year_line %></p>
    </div> <!-- title_page -->

    <div class="page-break"></div>

    <div class='sign_page'>
      <p>Рабочая программа составлена на основании ГОС ВПО
        для специальности <%= sign_page.gos.code %> «<%= sign_page.gos.title %>» утвержденного <%= sign_page.gos.localized_approved_on %>,
        и утверждена на заседании кафедры «____» ______________ г., протокол № _______</p>

      <p><%= sign_page.authors_header %></p>

      <%= table(sign_page.authors, 'authors') %>

      <%= table([sign_page.subdepartment_chief], 'subdepartment_chief') %>

      <p class='coordinators'>Рабочая программа согласована с факультетом, профилирующей и выпускающей кафедрами специальности</p>

      <%= table([sign_page.department_chief], 'department_chief') %>
      <%= table(sign_page.coordiantors, 'coordinators') %>
    </div> <!-- title_page -->

    <div class='purposes_and_tasks_page'>
      <h1>1. Цели и задачи дисциплины, ее место в учебном процессе</h1>
      <h2>1.1 Цели преподавания дисциплины</h2>
      <%= purposes_and_tasks_page.purposes %>
      <h2>1.2 Задачи изучения дисциплины</h2>
      <%= purposes_and_tasks_page.tasks %>
      <h2>1.3 Место дисциплины в структуре ООП</h2>
      <%= purposes_and_tasks_page.dependencies %>
    </div>

    <div class='content_chapter'>
      <h1>Содержание дисциплины</h1>
      <% index = 1 %>
      <% @work_programm.discipline.loadings.group_by(&:loading_kind).each do |kind, loadings| %>
        <h2>2.<%= index %> <%= t("activerecord.attributes.exercise.#{kind.pluralize}") %></h2>
        <% index += 1 %>
        <% loadings.group_by(&:semester).each do |semester, loadings| %>
          <h3><%= semester %></h5>
          <table class='exercises'>
            <thead>
              <tr>
                <th class='theme'>Тема и содержание</th>
                <th class='right volume'>Объем, часов</th>
              </tr>
            </thead>
            <tbody>
              <% resource.exercises_by_semester_and_kind(semester, kind).each do |exercise| %>
                <tr>
                  <td>
                    <div class='title'><%= exercise.title %></div>
                    <div class='description'><%= simple_format exercise.description %></div>
                  </td>
                  <td class='hours'>
                    <%= exercise.volume %>
                  </td>
                </tr>
              <% end %>

              <tr class='total_hours'>
                <% sum = resource.exercises_by_semester_and_kind(semester, kind).map(&:volume).sum %>
                <td colspan='2' class='right <%= 'warning' if sum > loadings.first.value %>'>
                  <%= "Всего часов добавленных занятий: <span>#{sum}</span>".html_safe %>
                </td>
              </tr>

              <tr class='rup_hours'>
                <td colspan='3' class='right'><%= "Необходимо часов по РУП: <span>#{loadings.first.value}</span>".html_safe %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
    </div>
  </body>
</html>

