<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Plans</title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => "esp_auth/shared/header" %>
    <%= render :partial => 'commons/top_menu' %>
    <%= render :partial => 'commons/sub_menu' %>
    <div class='main_wrapper'>
      <%= yield %>
    </div>
  </body>
</html>
