<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "manage/application", :media => "all" %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "manage/application" %>
<% end %>

<%= content_for :content do %>
  <%= render :partial => "esp_auth/shared/header" %>
  <div class="header">
    <%= link_to "Как создать рабочую программу?", '#', :class => 'how_to' %>
    <div id='how_to'>
      Для того, чтобы создать новую рабочую программу необходимо:
      <ul>
        <li>
          1. Перейти на список специальностей
        </li>
        <li>
          2. Выбрать нужный год набора
        </li>
        <li>
          3. Выбрать уровень подготовки (бакалавриат, специалитет, магистратура)
        </li>
        <li>
          4. Выбрать специальность и направление подготовки
        </li>
        <li>
          5. Выбрать нужную дисциплину
        </li>
      </ul>

      <p class="comment">Данная справочная информация доступна на любой странице.</p>
    </div>
    <div class="main_navigation">
      <%= render_navigation :context => 'main_manage' %>
    </div>
  </div>

  <div class="main_wrapper">
    <div class="left_side">
      <%= yield :top_left_side_additions %>
      <%= render_navigation :context => 'manage_messages'     if controller_name =~ /messages/ %>
      <%= render_navigation :context => 'manage_specialities' if controller_name =~ /\bspecialities/ %>
      <%= render_navigation :context => 'manage_disciplines'  if controller_name =~ /disciplines/ %>
      <%= yield :bottom_left_side_additions %>
    </div>
    <div class="right_side">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :file => 'layouts/base' %>
