<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "manage/application", :media => "all" %>
<% end %>

<%= content_for :content do %>
  <div class='header'>
    <div class="main_navigation">
      <%= render_navigation :context => 'rpz' %>
    </div>
  </div>

  <div class="main_wrapper">
    <div class="left_side">
      <%= render_navigation :context => 'rpz_years' %>
    </div>
    <div class="right_side">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :file => 'layouts/base' %>
